<html>
    <form style="margin-left: 10em;" action="/add-category" method="POST">
        <label>Category Name:</label><br>
        <input type="text" name="name">
        <br><br>
        <label>Small (Main) Image Path:</label><br>
        <input type="text" name="image"> (product-img/small/num.jpg)
        <br><br>
        <input type="submit" name="submit">
    </form>
</html>
