<html>
    <form style="margin-left: 10em;" action="/add-product" method="POST">
        <label>Unique Product ID:</label><br>
        <input type="text" name="id">
        <br><br>
        <label>Name:</label><br>
        <input type="text" name="name">
        <br><br>
        <label>Short Description:</label><br>
        <input type="text" name="shortDesc">
        <br><br>
        <label>Long Description:</label><br>
        <textarea name="longDesc"></textarea>
        <br><br><br>
        <label>Small (Main) Image Path:</label><br>
        <input type="text" name="image"> (product-img/small/num.jpg)
        <br><br><br>
        <label>Large (Carousel) Image Path:</label><br>
        <input type="text" name="imagelarge1"> (product-img/large/num.jpg)
        <br><br>
        <label>Large (Carousel) Image Path:</label><br>
        <input type="text" name="imagelarge2"> (product-img/large/num.jpg)
        <br><br>
        <label>Large (Carousel) Image Path:</label><br>
        <input type="text" name="imagelarge3"> (product-img/large/num.jpg)
        <br><br><br><br>
        <label>Large (Carousel) Image Path:</label><br>
        <input type="text" name="imagelarge4"> (product-img/large/num.jpg)
        <br><br><br><br>

        <label>Category:</label><br>
        <input type="text" name="category">
        <br><br>
        <label>Price:</label><br>
        <input type="text" name="price">
        <br><br>
        <label>Brand:</label><br>
        <input type="text" name="brand">
        <br><br>
        <label>Available Quantity:</label><br>
        <input type="text" name="availableQuantity">

        <br><br>
        <input type="submit" name="submit">
    </form>
</html>
