<html>
    <h1>Hello Admin!</h1>

    <nav>
        <li><a href="/admin/add-category">Add Category</a></li>
        <li><a href="/admin/add-product">Add Product</a></li>
        <li><a href="/admin/orders">All Orders</a></li>
    </nav>

</html>