<h1>Login</h1>

<div class="container jumbotron">
    <div class="form">
        <form action="/admin/login" method="POST">
            <input type="text" placeholder="username" name="admin">
            <input type="password" placeholder="password" name="password">
            <input type="submit">
        </form>
    </div>
</div>